:root{
    --pink : #F0609D;
    --blue: #7B60F0;
    --gray: #2E2E2E;
    --light-gray: #A6A6A6;
    --green: #50BE72;
    --yellow: #DEC703;
    --orange: #FD5F00;
    --light-blue: #607BF0;
    --red: #FC0000;
}
/*Layout customize*/
.main-sidebar, .main-sidebar::before {
    width: 270px;
}
.sidebar-mini .main-sidebar .nav-link, .sidebar-mini-md .main-sidebar .nav-link, .sidebar-mini-xs .main-sidebar .nav-link {
    width: calc(270px - .5rem * 2);
}
[class*="sidebar-light-"] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*="sidebar-light-"] .nav-sidebar > .nav-item:hover > .nav-link{
    background: transparent;
}
.container-fluid{
    padding: 20px;
    padding-bottom: 50px;
}
.content-wrapper{
    height:auto;
}
.content-header .container-fluid{
    padding-bottom: 0;
}
.btn-outline-orange{
    border: 2px solid var(--orange);
    color: var(--orange);
}
.btn-outline-orange:hover{
    color: var(--orange);
}
.btn-outline-red{
    border: 2px solid var(--red);
    color: var(--red);
}
.btn-outline-red:hover{
    color: var(--red);
}
.orange-bg, .btn-orange {
    border-color: var(--orange);
    background: var(--orange);
}
.red-bg, .btn-red {
    border-color: var(--red);
    background: var(--red);
}
.yellow-bg, .btn-yellow{
    background: var(--yellow);
    border-color: var(--yellow);
}
.btn-yellow{
    color: var(--gray);
}
.blue-bg, .btn-blue{
    background: var(--blue);
    border-color: var(--blue);
}
.lightblue-bg, .btn-lightblue{
    background: var(--light-blue);
    border-color: var(--light-blue);
}
.green-bg, .btn-green{
    background: var(--green);
    border-color: var(--green);
}
.pink-bg, .btn-pink{
    background: var(--pink);
    border-color: var(--pink);
}
.btn-outline-green,.btn-outline-green:hover {
    border: 1px solid var(--green);
    color: var(--green);
}
.btn-outline-pink,.btn-outline-pink:hover {
    border: 1px solid var(--pink);
    color: var(--pink);
}
.btn-outline-yellow,.btn-outline-yellow:hover {
    border: 1px solid var(--yellow);
    color: var(--yellow);
}
.btn-outline-blue,.btn-outline-blue:hover {
    border: 1px solid var(--blue);
    color: var(--blue);
}
.title-right-btn {
    color: #989595;
    font-size: 15px;
    background: none;
    border: none;
}
.title-right-btn img {
    width: 17px;
    margin-right: 3px;
    margin-bottom: 3px;
}
.text-gray{
    color: var(--gray);
}
.round-10 {
    border-radius: 10px;
}
.round-30 {
    border-radius: 30px;
}
.content {
    margin: 0 4%;
}
.main-sidebar.sidebar-light-primary .sidebar{
    padding-left: 0;
    padding-right: 0;
}
table.table.custom-table td {
    color: var(--light-gray);
}
.modal-backdrop {
    background: #fff;
}
.modal-header {
    justify-content: center;
    border: none;
}
.modal-title {
    font-size: 29px;
    font-weight: bold;
    color: var(--gray);
}
.input-label{
    font-size:15px;
    font-weight:bold;
    color:#ADABAB;
}
@media (min-width: 576px) {
    .modal-610{
        max-width: 610px;
        margin: 1.75rem auto;
    }
}
.model-section-heading{
    font-size:18px;
}
.upload-sec{
    border-radius:10px;
    color:#ABA9A9;
    border:none;
}

.admin-section-search-btn-area .btn-outline-secondary:visited,.btn-outline-secondary:hover{
    background: none !important;
    color: var(--gray) !important;
}
.user-panel .image {
    display: inline-block;
    padding: 10px 10px 35px 10px;
    box-sizing: border-box;
}
.user-panel img {
    height: auto;
    width: 120px;
}
[class*=sidebar-light] .user-panel {
    border-bottom: none;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link {
    padding: 0;
    padding-left: 35px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    background: none;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #ffffff;
    color: var(--pink);
    box-shadow: none;
}
.nav-sidebar a.nav-link img {
    margin-right: 20px;
}
a.nav-link.active img {
    filter: invert(57%) sepia(65%) saturate(3105%) hue-rotate(
        302deg
    ) brightness(100%) contrast(89%);
}
.nav-sidebar>.nav-item {
    margin-bottom: 30px;
}
a.nav-link.active::after {
    content: "";
    height: 103%;
    width: 6px;
    background: var(--pink);
    position: absolute;
    right: -16px;
    top: 0;
}
.nav-sidebar>.nav-item>.nav-link.active.lightblue-nav {
    color: var(--light-blue);
}
a.nav-link.active.lightblue-nav::after {
    background: var(--light-blue);
}
a.nav-link.active.lightblue-nav img {
    filter: invert(42%) sepia(84%) saturate(1841%) hue-rotate(212deg) brightness(99%) contrast(90%);
}
.nav-sidebar>.nav-item>.nav-link.active.green-nav {
    color: var(--green);
}
a.nav-link.active.green-nav::after {
    background: var(--green);
}
a.nav-link.active.green-nav img {
    filter: invert(51%) sepia(59%) saturate(640%) hue-rotate(81deg) brightness(91%) contrast(82%);
}
.nav-sidebar>.nav-item>.nav-link.active.blue-nav {
    color: var(--blue);
}
a.nav-link.active.blue-nav::after {
    background: var(--blue);
}
a.nav-link.active.blue-nav img {
    filter: invert(54%) sepia(55%) saturate(7276%) hue-rotate(233deg) brightness(99%) contrast(89%);
}
.nav-sidebar>.nav-item>.nav-link.active.yellow-nav {
    color: var(--yellow);
}
a.nav-link.active.yellow-nav::after {
    background: var(--yellow);
}
a.nav-link.active.yellow-nav img {
    filter: invert(71%) sepia(93%) saturate(756%) hue-rotate(6deg) brightness(96%) contrast(98%);
}
.nav-sidebar>.nav-item>.nav-link.active.orange-nav {
    color: var(--orange);
}
a.nav-link.active.orange-nav::after {
    background: var(--orange);
}
a.nav-link.active.orange-nav img {
    filter: invert(50%) sepia(48%) saturate(5779%) hue-rotate(1deg) brightness(100%) contrast(106%);
}
.nav-sidebar>.nav-item>.nav-link.active.pink-nav {
    color: var(--pink);
}
a.nav-link.active.pink-nav::after {
    background: var(--pink);
}
a.nav-link.active.pink-nav img {
    filter: invert(31%) sepia(91%) saturate(2128%) hue-rotate(312deg) brightness(98%) contrast(86%);
}
.nav-sidebar>.nav-item>.nav-link.active.red-nav {
    color: var(--red);
}
a.nav-link.active.red-nav::after {
    background: var(--red);
}
a.nav-link.active.red-nav img {
    filter: invert(19%) sepia(63%) saturate(7462%) hue-rotate(359deg) brightness(98%) contrast(126%);
}
.nav-sidebar>.nav-item>.nav-link.active.dark-nav {
    color: #000;
}
a.nav-link.active.dark-nav::after {
    background: #000;
}
a.nav-link.active.dark-nav img {
    filter: invert(0%) sepia(100%) saturate(7462%) hue-rotate(18deg) brightness(86%) contrast(100%);
}
body:not(.layout-fixed) .main-sidebar .sidebar {
    overflow-y: initial;
}
.content-header h1 {
    font-size: 48px;
    font-weight: bold;
    color: var(--gray);
}
.content-header h3.sub {
    font-size: 16px;
    color: var(--gray);
}
i.fas.fa-user {
    border: 1px solid black;
    border-radius: 22px;
    padding: 7px;
    background-color: black;
    color: white;
    margin: 0px 7px;
    font-size: 19px;
}
.main-p{
    margin: 0px 7px;
    font-size: 16px;
    color:#7B60F0;
}
ul.navbar-nav.ml-auto {
    align-items: baseline;
}
.main-header .navbar-nav .nav-item {
    display: contents;
}
.dashboard-profile-image img {
    width: 53px;
    border-radius: 50%;
    margin-right: 10px;
}
.content-header {
    padding-bottom: 0;
}
section.admin-search-area {
    display: flex;
    justify-content: space-between;
}
.admin-search-left {
    width: 30%;
}
.admin-search-right {
    width: 70%;
}
.admin-section-search-area {
    max-width: 700px;
    margin-left: auto;
}
.admin-section-search-btn-area {
    position: absolute;
    right: 0;
}
.admin-section-search-area input {
    border: none;
    padding: 7px;
    border-radius: 34px !important;
    width: 100%;
}
@media(max-width: 606px){
    section.admin-search-area {
        flex-direction: column;
        justify-content: center;
    }
    .admin-search-left {
        margin-bottom: 14px;
        width: 100%;
    }
    .admin-search-right {
        width: 100%;
    }
}
.page-section-title-area {
    background: #fff;
    padding: 30px 25px 1px 25px;
    box-shadow: 0px 1px 18px rgb(0 0 0 / 15%);
    display: flex;
    justify-content: space-between;
}
.page-section-title-area h2 {
    font-size: 19px;
    font-weight: bold;
    margin: 0;
}
.page-section-title-area p {
    font-size: 14px;
}
table.custom-table {
    min-width: 100% !important;
    background: #fff;
    box-shadow: 1px 1px 18px rgb(0 0 0 / 15%);
    text-align: center;
    margin-bottom: 0;
}
@media (max-width: 768px){
    .content{
        margin: 0;
    }
}
.adminside-profile {
    background: #fff;
    padding: 0 25px 30px 25px;
}
section.adminside-profile h2 {
    font-size: 35px;
    font-weight: bold;
}
.adminside-profile-info, .adminside-billing-info {
    border: 2px solid #607BF0;
    padding: 5px 20px;
}
.adminside-profile-info h3,.adminside-plan-info h3, .adminside-billing-info h3 {
    font-weight: bold;
}
.adminside-plan-info {
    margin: 15px 0;
}
.adminside-plan-name {
    background: #607BF0;
    color: #fff;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}
.adminside-billin-info-inner {
    display: flex;
    flex-wrap: wrap;
}
.adminside-billin-info-inner p {
    min-width: 300px;
}
@media(max-width: 425px){
    .adminside-billin-info-inner p {
        min-width: 100%;
    }
}
.sidebar-collapse .sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link, .sidebar-collapse .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link{
    padding-left: 15px;
}
/*Dashboard Style*/
.dashboard-card {
    background: #fff;
    min-height: 193px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 27px rgb(0 0 0 / 20%);
    position: relative;
}
.dashboard-card.upload-issues {
    width: 30%;
}
.upload-issues::before{
    background: var(--blue);
}
.page-views::before{
    background: var(--pink);
}
.new-orders::before{
    background: var(--blue);
}
.upload-banner::before{
    background: var(--green);
}
.add-promotions::before{
    background: var(--yellow);
}
.dashboard-card.page-views {
    width: 25%;
}
.dashboard-card.new-orders {
    width: 20%;
}
.dashboard-card.total-earnings {
    width: 20%;
}
.cards-section {
    width: 30%;
}
.chart-section {
    width: 68%;
}
.cards-section .dashboard-card {
    width: 100%;
}
.card.chart-card {
    min-height: 407px;
    box-shadow: 1px 1px 27px rgb(0 0 0 / 20%);
    margin-bottom: 0;
}
.dashboard-card::before {
    content: "";
    height: 193px;
    position: absolute;
    width: 7px;
    left: 0;
}
.dashboard-card-header {
    padding: 20px;
}
.dashboard-card-header h2 {
    font-size: 19px;
    font-weight: bold;
    color: var(--gray);
    margin-bottom: 0;
}
.dashboard-card-header p {
    font-size: 14px;
    color: var(--light-gray);
}
.dashboard-card-stat {
    padding: 0 20px;
    font-size: 30px;
    font-weight: bold;
    line-height: 25px;
}
a.dashboard-card-dropdown {
    position: absolute;
    top: 5px;
    right: 10px;
    color: var(--light-gray);
}
.dashboard-card-link {
    color: var(--gray);
    font-size: 18px;
    font-weight: bold;
}
@media(max-width: 1320px){
    .dashboard-card.upload-issues, .dashboard-card.page-views, .dashboard-card.new-orders, .dashboard-card.total-earnings{
        width: 49%;
    }
}
@media(max-width: 650px){
    .cards-section {
        width: 100%;
        flex-direction: row !important;
        justify-content: space-between;
    }
    .cards-section .dashboard-card {
        width: 49%;
    }
    .chart-section {
        width: 100%;
        margin-bottom: 20px;
    }
}
@media(max-width: 420px){
    .dashboard-card.upload-issues, .dashboard-card.page-views, .dashboard-card.new-orders, .dashboard-card.total-earnings{
        width: 100%;
    }
    .cards-section {
        width: 100%;
        flex-direction: column !important;
    }
    .cards-section .dashboard-card {
        width: 100%;
    }
    .chart-section {
        width: 100%;
    }
}
.drop-icon select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
}
.drop-icon{
    position: relative;
}
.drop-icon::after {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    width: 20px;
    height: 20px;
    background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}
.custom-file-input.selected:lang(en)::after {
    content: "" !important;
}

.custom-file {
    overflow: hidden;
}

.custom-file-input {
    white-space: nowrap;
}
ul.autocar-paginator {
    background: #fff;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 18px;
}
ul.autocar-paginator li {
    list-style: none;
    margin: 0 5px;
    color: var(--light-gray);
}
ul.autocar-paginator li a{
    color: var(--light-gray);
    font-weight: normal;
}
/*Custom checkbox*/
/* The container */
.input-container {
    display: block;
    position: relative;
    padding-left: 22px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--light-gray);
    font-size: 15px;
}

/* Hide the browser's default checkbox */
.input-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid var(--light-gray);
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.input-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.input-container input:checked ~ .checkmark {
    background-color: #2196F3;
    border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.input-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.input-container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(
        45deg
    );
    -ms-transform: rotate(45deg);
    transform: rotate(
        45deg
    );
}
/*End Custom checkbox*/
table.table.custom-table td img {
    max-width: 150px;
}
.input-label1{
    font-size:12px;
    color:#ABA9A9;
    font-weight:bold;
}
.gap{
    margin-right:15px;
}
.gap1{
    margin-left:15px;
}
.issue-padd{
    padding:20px;
}
/* Packages section */
.packages{
    max-width: 1090px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;
}

.packages .table{
    background: #fff;
    width: calc(33% - 20px);
    padding: 30px 30px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

@media (max-width: 1020px){
    .packages .table{
        width: calc(50% - 20px);
        margin-bottom: 40px;
    }
}

@media (max-width: 698px){
    .packages .table{
        width: 100%;
    }
}

.table .price-section{
   display: flex;
   justify-content: center;
}

.price-section .price-area{
    height: 120px;
    width: 120px;
    background: var(--blue);
    border-radius: 50%;
    padding: 2px;
}

.price-section .price-area .inner-area{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
    color: #fff;
    line-height: 117px;
    text-align: center;
    position: relative;
}

.price-area .inner-area .text{
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 17px;
}

.price-area .inner-area .price{
    font-size: 55px;
    font-weight: 500;
}

.table .package-name {
    width: 100%;
    margin: 35px 0;
    font-size: 30px;
    position: relative;
    font-weight: bold;
    text-align: center;
}
.package-name span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 2;
}
.table .package-name::after {
    content:"";
    width:100%;
    height:2px;
    background:var(--blue);
    position:absolute;
    left:0;
    top:21px;
}

.table .features li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.features li .list-name{
    font-size: 17px;
    font-weight: 400;
}

.features li .icon{
    font-size: 15px;
}

.features li .icon.check{
    color: #2db94d;
}

.features li .icon.cross{
    color: #cd3241;
}

.table .btn{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.table .btn button{
    width: 80%;
    height: 50px;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
